*{
    left: 0;
    top: 0;
    background: #111;
}

.main-outer{
    position: fixed;
    width: 810px;
    height: 920px;
    background: #242424;
}

.top-call-button-outer{
    position: relative;
    width: 800px;
    height: 140px;
    background: #353535;
    background: red;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.top-call-button-inner{
    position: relative;
    width: 800px;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.top-call-button-inner h1{
    background: yellow;
    border-radius: 10px;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}


.middle-hobby-button-outer{
    position: relative;
    width: 800px;
    height: 400px;
    background: #353535;
    background: blue;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.bottom-weather-button-outer{
    position: relative;
    width: 800px;
    height: 360px;
    background: #353535;
    background: green;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

