@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');

*{
    left: 0;
    top: 0;
    background: #111;
    font-family: 'Noto Sans JP', sans-serif;
}

.main-outer{
    position: fixed;
    width: 810px;
    height: 1010px;
    background: #242424;
}

.top-weather-time-outer{
    position: relative;
    display: flex;
    width: 800px;
    height: 140px;
    background: none;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}

.top-left-weather-outer{
    position: relative;
    width: 395px;
    height: 140px;
    margin: 0 2.5px 0 0;
    background: rgba(35, 35, 35, 0.75);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.top-left-weather-outer *{
    background: rgba(46, 46, 46, 1);
    border-radius: 5px;
}

.widget{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 395px;
    height: 140px;
}

.widget .left{
    position: relative;
    left: 0;
    width: 200px;
}

.widget .right{
    position: relative;
    right: 0;
    width: 200px;
    color: #fff;    
}

.icon{
    width: 50%;
    margin-bottom: -15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.weather-status{
    color: #fff;
    text-align: center;
    margin-top: 0;
    font-size: 1.7em;
}

.widget .right .city{
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px;
    text-shadow: 1px 1px 5px #707070;
}

.widget .right .degree{
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    margin-top: -40px;
    text-shadow: 1px 1px 5px #707070;
}

.top-right-time-outer{
    position: relative;
    width: 400px;
    height: 140px;
    margin: 0 0 0 2.5px;
    background: #464646;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.top-right-time-outer *{
    background: rgba(35, 35, 35, 0.75);
}

.top-right-time-outer .top{
    position: relative;
    width: 400px;
    height: 40px;
    border-radius: 5px 5px 0 0;
}

.top-right-time-outer .top .date{
    position: relative;
    width: 400px;
    height: 40px;
    color: #fff;
    text-align: center;
    justify-content: center;
    background: none;
    transform: translate(0, 30%);
}

.top-right-time-outer .top .date span{
    background: none;
}

.top-right-time-outer .bottom{
    position: relative;
    width: 400px;
    height: 100px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
}

.top-right-time-outer .bottom h5{
    position: relative;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 1;
    font-size: 6em;
    font-weight: 700;
    width: 300px;
    height: 90px;
    transform: translate(0, -35%);
    background: none;
    
    
}












.middle-hobby-button-outer{
    position: relative;
    width: 800px;
    height: 780px;
    background: #353535;
    background: rgb(205, 110, 91);
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.bottom-cancel-subscription-outer{
    position: relative;
    display: flex;
    width: 800px;
    height: 70px;
    background: #242424;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.bottom-cancel-subscription-outer .cancel-form {
    position: relative;
    display: flex;
    width: 600px;
    height: 70px;
}

.bottom-cancel-subscription-outer .cancel-form form{
    background: #242424;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}

.bottom-cancel-subscription-outer .cancel-form input,
.bottom-cancel-subscription-outer .cancel-form button{
    color: #fff;
    transform: translate(0, 20%);
    font-size: 1.8em;
    background-color: #464646;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.bottom-cancel-subscription-outer .cancel-form input{
    width: 280px;
    height: 42px;
    margin: 0 7.5px 0 15px;
    transform: translate(0, 27.5%);
}

.bottom-cancel-subscription-outer .cancel-form button{
    background: #387f3f;
    width: 280px;
    height: 50px;
    margin: 0 15px 0 7.5px;
}

.bottom-cancel-subscription-outer .cancel-form button:hover{
    cursor: pointer;
}


.bottom-cancel-subscription-outer .subscription-form{
    position: relative;
    display: flex;
    width: 200px;
}

.bottom-cancel-subscription-outer .subscription-form span{
    display: none;
}

.bottom-cancel-subscription-outer .subscription-form{
    position: relative;
    display: flex;
    width: 180px;
    height: 50px;
    text-align: center;
    justify-content: center;
    transform: translate(5%, 20%);
    font-size: 1.6em;
    border-style: none;
}

.bottom-cancel-subscription-outer .subscription-form .subscription-text{
    width: 200px;
    height: 50px;
    background: #387f3f;
    border-style: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.bottom-cancel-subscription-outer .subscription-form .subscription-text a{
    color: #fff;
    font-size: 1.2em;
    background: #387f3f;
    width: 180px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

