*{
    left: 0;
    top: 0;
    background: #111;
}

.main-outer{
    position: fixed;
    width: 810px;
    height: 960px;
    background: #242424;
}

.top-weather-time-outer{
    position: relative;
    display: flex;
    width: 800px;
    height: 140px;
    background: #353535;
    background: red;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.top-left-weather-outer{
    position: relative;
    width: 400px;
    height: 140px;
    margin: 0 2.5px 0 0;
    background: #353535;
    background: purple;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.top-right-time-outer{
    position: relative;
    width: 400px;
    height: 140px;
    margin: 0 0 0 2.5px;
    background: #353535;
    background: mediumspringgreen;

    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}













.middle-hobby-button-outer{
    position: relative;
    width: 800px;
    height: 500px;
    background: #353535;
    background: blue;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.bottom-weather-button-outer{
    position: relative;
    width: 800px;
    height: 300px;
    background: #353535;
    background: green;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

