@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');

*{
    left: 0;
    top: 0;
    background: #111;
    font-family: 'Noto Sans JP', sans-serif;
}

.main-outer{
    position: fixed;
    width: 810px;
    height: 1010px;
    background: #242424;
}

.top-weather-time-outer{
    position: relative;
    display: flex;
    width: 800px;
    height: 140px;
    background: #353535;
    background: red;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.top-left-weather-outer{
    position: relative;
    width: 400px;
    height: 140px;
    margin: 0 2.5px 0 0;
    background: #353535;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.top-left-weather-outer *{
    background: rgba(35, 35, 35, 0.75);
    border-radius: 5px;
}

.widget{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 140px;   
}

.widget .left{
    position: relative;
    left: 0;
    width: 200px;
}

.widget .right{
    position: relative;
    right: 0;
    width: 200px;
    color: #fff;    
}

.icon{
    width: 50%;
    margin-bottom: -15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.weather-status{
    color: #fff;
    text-align: center;
    margin-top: 0;
    font-size: 1.7em;
}

.widget .right .city{
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px;
    text-shadow: 1px 1px 5px #707070;
}

.widget .right .degree{
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    margin-top: -40px;
    text-shadow: 1px 1px 5px #707070;
}

.top-right-time-outer{
    position: relative;
    width: 400px;
    height: 140px;
    margin: 0 0 0 2.5px;
    background: #353535;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.top-right-time-outer *{
    background: rgba(35, 35, 35, 0.75);
}

.top-right-time-outer .top{
    position: relative;
    width: 400px;
    height: 40px;
    border-radius: 5px 5px 0 0;
}

.top-right-time-outer .top .date{
    position: relative;
    width: 400px;
    height: 40px;
    color: #fff;
    text-align: center;
    justify-content: center;
    background: none;
    transform: translate(0, 30%);
}

.top-right-time-outer .top .date span{
    background: none;
}

.top-right-time-outer .bottom{
    position: relative;
    width: 400px;
    height: 100px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
}

.top-right-time-outer .bottom h5{
    position: relative;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 1;
    font-size: 6em;
    font-weight: 700;
    width: 300px;
    height: 90px;
    transform: translate(0, -35%);
    background: none;
    
    
}












.middle-hobby-button-outer{
    position: relative;
    width: 800px;
    height: 500px;
    background: #353535;
    background: blue;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.bottom-weather-button-outer{
    position: relative;
    width: 800px;
    height: 350px;
    background: #353535;
    background: green;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

