<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/home.css">
  <script src="../../js/realtime_clock.js"></script>

  <title>メインメニュー</title>
</head>
<body onload="realtimeClock()">
 
  <div class="main-outer">
    
    <div class="top-weather-time-outer">
      
      <div class="top-left-weather-outer">
        <!-- Weather Widget -->
        <div class="widget">
          <div class="left">
            <img src="../../weather_icons/animated/cloudy-day-1.svg" class="icon">
            <h5 class="weather-status">晴れのち曇り</h5>
          </div>

          <div class="right">
            <h5 class="city">稚内</h5>
            <h5 class="degree">-30&#176;C</h5>
          </div>
        </div>

      </div>
      
      <div class="top-right-time-outer">
        <div class="top">
          <div class="date">
            <span id="month">Month</span>
            <span id="daynum">00</span>
            <span id="dayname">Day</span>
          </div>


        </div>
        
        <div class="bottom">
          <h5 id="clock"></h5>
        </div>
      </div>

    </div>










    

    <div class="middle-hobby-button-outer">
      
    </div>

    <div class="bottom-userinfo-loginout-outer">
      
    </div>

    <div class="bottom-cancel-subscription-outer">
      <div class="cancel-form">
        <form action="{% url 'stop_subscription_session' %}" method="POST">
          <!-- <input type="hidden" name="subscriptionId" value="{{ subscription_id }}" /> -->
          <input name="subscriptionId" value="{{ subscription_id }}" />
          <!-- <input name="orderName" value="{{ order_name }}" /> -->
          <button class="btn btn-outline-info btn-lg" type="submit">利用キャンセル</button>
        </form>
      </div>
      <div class="subscription-form">
          <div class="subscription-text">
            <span class="django">{% else %}</span>
            <a href="{% url 'product-top-page' %}">利用登録</a>
            <span class="django">{% endif %} </span>
          </div>
      </div>
    </div>

  </div>
  
</body>
</html>


<!-- 
git add .
git commit -m "css"
git push origin master
 -->