<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/home.css">
  <script src="../../js/realtime_clock.js"></script>

  <title>メインメニュー</title>
</head>
<body onload="realtimeClock()">
 
  <div class="main-outer">
    
    <div class="top-weather-time-outer">
      
      <div class="top-left-weather-outer">
        <!-- Weather Widget -->
        <div class="widget">
          <div class="left">
            <img src="../../weather_icons/animated/cloudy-day-1.svg" class="icon">
            <h5 class="weather-status">晴れのち曇り</h5>
          </div>

          <div class="right">
            <h5 class="city">稚内</h5>
            <h5 class="degree">-30&#176;C</h5>
          </div>
        </div>

      </div>
      
      <div class="top-right-time-outer">
        <div class="top">
          <div class="date">
            <span id="month">Month</span>
            <span id="daynum">00</span>
            <span id="dayname">Day</span>
          </div>


        </div>
        
        <div class="bottom">
          <h5 id="clock"></h5>
        </div>
      </div>

    </div>
    
    <div class="middle-hobby-button-outer">
      <!-- ユ：{{ sample }}<br> -->

      <!-- {% for list in sample %}
      <tr>
          <td>{{ list }}</td>
          <td><a href="skype:{{ list }}?call">Call{{ list }}</a></td>
      </tr>
      {% endfor %} -->



      <!-- <h1>googleログイン</h1>
      ユーザ名：{{ user.first_name }} , {{ user.last_name }}<br>
      <a href="{% url 'social:begin' 'google-oauth2' %}">Googleでログイン</a><br>
      <a class="lead" href="{% url 'logout' %}">Log out</a> -->

      <!-- <h1>Skype</h1>
      <a href="skype:echo123?call">Call the Skype Echo / Sound Test Service</a>
      <br>
      <p>ビデオ</p>
      <a href="skype:echo123?call&amp;video=true">Call the Skype Echo / Sound Test Service</a>
      <br>
      <p>uenotomoki</p>
      <a href="skype:live:.cid.f7ef235c9ea21c9f?call">Call the Skype uenotomoki of yazakiPC</a>
      <br>
      <p>ビデオ</p>
      <a href="skype:live:.cid.f7ef235c9ea21c9f?call&amp;video=true">Call the Skype uenotomoki of yazakiPC</a>


      <br>
      If your call specifies multiple participants, the individual identities—Skype Names or phone numbers—must be separated with semicolons; for example:
      participant1;participant2;participant3
      <br>
      Example: Conference, no topic
      skype:skype.test.user.1;skype.test.user.2;skype.test.user.3?call
      <br>
      Example: Conference, setting the topic
      skype:skype.test.user.1;skype.test.user.2;+16505550123?call&amp;topic=Geek%20Conspiracy
      <br>
      <br>
      <br>
      <h1>Line</h1>
      <a href="https://line.me/R/calls">line画面</a> -->
      




    </div>

    <div class="bottom-userinfo-loginout-outer">
      <div class="left-profile">
        <img src="../../../images/user_profile_1.jpg" alt="">
      </div>
      <div class="right-top-userinfo">
        
        <span>{% if user.is_authenticated %}</span>
        <div class="top-last-first-name">
          <p>{{ user.last_name }} {{ user.first_name }}さんがログイン中です</p> 
        </div>
        <div class="middle-user-name">
          <p>{{ user.username }}</p>
        </div>
        <div class="bottom-user-email">
          <p>{{ user.email }}</p> 
        </div>

        <div class="bottom-logout">
          <a href="{% url 'logout' %}">ログアウト</a>
        </div>
        <span>{% else %}</span>
        <div class="bottom-login">
          <a href="{% url 'login' %}">ログインする</a>
        </div>
        <span>{% endif %}</span>
      </div>
    </div>

    <div class="bottom-cancel-subscription-outer">
      <div class="cancel-form">
        <form action="{% url 'stop_subscription_session' %}" method="POST">
          <!-- <input type="hidden" name="subscriptionId" value="{{ subscription_id }}" /> -->
          <input name="subscriptionId" value="{{ subscription_id }}" />
          <!-- <input name="orderName" value="{{ order_name }}" /> -->
          <button class="btn btn-outline-info btn-lg" type="submit">利用キャンセル</button>
        </form>
      </div>
      <div class="subscription-form">
          <div class="subscription-text">
            <span class="django">{% else %}</span>
            <a href="{% url 'product-top-page' %}">利用登録</a>
            <span class="django">{% endif %} </span>
          </div>
      </div>
    </div>

  </div>
  
</body>
</html>


<!-- 
git add .
git commit -m "css"
git push origin master
 -->